header {
    background-color: #191927;
    color: rgb(189, 39, 209);
    
    font-family: Cinzel Decorative;
    font-size: 300%;
    overflow: hidden;
    
    display: block;
}

.divheader{
    width: 89%;
    margin: 0 auto;
}

.title:link{
    color: #00d4f0;
}

.logo{
    float: left;
    margin-left: 4%;
    
    
}

title:link {
    background-color: transparent;
    text-decoration: none;
    color: #00d4f0;
}

.title:visited {
    color: #00d4f0;
    background-color: transparent;
    text-decoration: none;
}

.title:active {
    color: #00d4f0;
    background-color: transparent;
    text-decoration: none;}

body {
    background-color: #00d4f0;
    
}


.container{
    background-color: #dc0942;
    height: 100%;
    width: 100%;
}