
body {
    background-color: #00d4f0;
    
}


.container{
    background-color: #dc0942;
    height: 100%;
    width: 100%;
}

.bild{
    height: 500px;
    width: 70%;
    background-image: url(../images/biblio.png);
    background-size: cover;
    margin: auto;
    background-repeat: no-repeat;
}