

.info{
    height: 500px;
    width: 70%;
    background-color: #c1ea17;
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
}

.text{
   
    flex-grow: 7;
    height: 100%;
    margin-top: 5%;
    max-width: 70%;
    padding-left: 2%;
    padding-right: 2%;
}

.bild{
    
    height: 500px;
    flex-grow: 3;
    margin-top: 5%;
    max-width: 30%;
}

.produktBild{
    height: 300px;
    width: 200px;
}

input[type=number]{
    width: 35px;
} 


.besk{
    flex-grow: 7;
    height: 100%;
    margin-top: 5%;
    max-width: 70%;
    padding-left: 2%;
    padding-right: 2%;
}   
