

.kassa{
    height: 500px;
    width: 70%;
    background-color: #c1ea17;
    margin: auto;
    text-align: center;
    
    
}


input[type=number]{
    width: 35px;
} 



table{
    margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

.thTop{
    font-size: 20px;
    padding: 10px;
}