
a:link {
    background-color: transparent;
    text-decoration: none;
}


.nav-item {
    
    display: inline-block;
}

.nav-link {
    display: block;
    color: #dc0942;
    background-color: tan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
    margin-right: 50px;
}

.nav-link:hover {
    background-color: #fbb10b
}

.navbar-nav {
    background-color: #fbb10b;
    margin: auto;
    overflow: hidden;
}

.nav-item2 {
    float: right;
    display: inline-block;
}

.nav-item {
    float: left;
}