

.bild{
    height: inherit;
    width: 70%;
    background-color: #c1ea17;
    margin: auto;
    text-align: center;
}

.produktBild{
    height: 100px;
    width: 70px;
}

.td{
    max-width: 3%;
}
th {
    text-align: left;
  }
.tabell {
    height: 70%;
    width: 70%;
    margin: auto;

}
td {
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
  }

  
  