
body {
    background-color: #00d4f0;
    
}

.container{
    background-color: #dc0942;
    height: auto;
    width: 100%;
    
}

.bild{
    height: inherit;
    width: 70%;
    background-color: #c1ea17;
    margin: auto;
    text-align: center;
}

.produktBild{
    height: 100px;
    width: 70px;
}

.td{
    max-width: 3%;
}
th {
    text-align: left;
  }
td {
    text-align: left;
}