

.bild{
    height: auto;
    min-height: 500px;
    width: 70%;
    background-color: #c1ea17;
    margin: auto;
    text-align: center;
}

.produktBild{
    height: 100px;
    width: 70px;
}

.td{
    max-width: 3%;
}
th {
    text-align: left;
  }
.tabell {
    height: 70%;
    width: 70%;
    margin: auto;

}
td {
    text-align: left;
}


.nav2-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 10%;
    background-color: #c1ea17;
}

.nav2-li{
    height: 50px;
}
  
.nav2-lia {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav2-lia:hover{
    background-color: #78920f;
  color: white;
}


.nav2{
    width: 15%;
    float: left;
    text-align: center;
    
}

.nav3-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 10%;
    background-color: #c1ea17;
    float: left;
}

.nav3-li{
    height: 40px;
}
  
.nav3-lia {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav3-lia:hover{
    background-color: #78920f;
  color: white;
}


.nav3{
    width: 15%;
    float: left;
    text-align: center;
    
}


  