
body {
    background-color: cadetblue;
    
}

header {
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    margin-top: 0px;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(144, 63, 155);
    background-color: rgb(32, 80, 182);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
    margin-right: 50px;
}

ul {
    background-color: blueviolet;
}