
body {
    background-image: url('images/starwars.jpg');
    background-size: cover;
}

header {
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    margin-top: 0px;
}

li {
    float: left;
  }

  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }